html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.btn {
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-family: roboto;
  box-shadow: 0px 4px 10px 0px #fff;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(193.33deg, #7e30de -11.44%, #ff79da 123.93%);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.btn-large {
  padding: 20px 40px;
}

.page-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 10;
  animation: hide-page-loader 0s ease 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hide-page-loader {
  to {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin: 0.19em;
  background: #cb3fac;
  border-radius: 0.6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #cd73d3;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #e5b3e6;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #ccbacd;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #e2dfe2;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #e8e0e7;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #eee8ed;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heart {
  font-size: 20px;
  position: relative;
}
.heart:hover .heart__filled.fa-heart {
  cursor: pointer;
  opacity: 1;
}
.heart__filled, .heart__empty {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.heart__filled.fa-heart {
  background: linear-gradient(pink, purple);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.animation-1-menu,
.animation-2-menu,
.animation-3-menu {
  animation: menu-slide ease 6.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animation-2-menu {
  animation-delay: 2.5s;
}

.animation-3-menu {
  animation-delay: 4.5s;
}

@keyframes menu-slide {
  0% {
    opacity: 0;
    transform: translate(0px, 140px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.header {
  position: relative;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 12px;
}
.header__logo {
  height: 35px;
}
.header__arrow {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  background: #353535;
  padding: 30px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: end;
    padding: 10px 5px 20px 0;
  }
}
.footer__footer-section {
  padding-top: 10px;
  display: flex;
  background: #353535;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__footer-section {
    padding-top: 40px;
  }
  .footer__footer-section:first-child {
    order: 1;
  }
}
.footer__heading {
  color: white;
  font-family: Roboto;
}
.footer__logo {
  font-weight: 400;
  font-family: "Shrikhand", serif;
  color: white;
}

.fa-vect {
  color: white;
  padding-right: 10px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding: 20px;
  box-shadow: 3px 3px 3px grey;
  gap: 17px;
}
.location__icon {
  color: black;
  font-size: 20px;
}
.location__text {
  color: black;
}

.book-meal {
  background: #f6f6f6;
  padding: 30px;
  text-align: center;
}
.book-meal__title {
  color: black;
  font-size: 40px;
  font-family: roboto;
  font-weight: 700;
  padding-bottom: 20px;
}
.book-meal__description {
  color: #353535;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  padding-bottom: 20px;
}

.how-works {
  padding: 30px 20px 30px 0;
}
@media (min-width: 1024px) {
  .how-works {
    padding: 30px 0 30px 0;
  }
}
.how-works__heading {
  font-weight: 700;
  font-family: Roboto;
  font-size: 24px;
  letter-spacing: 0em;
  padding-bottom: 20px;
  padding-left: 20px;
}
.how-works__second_container {
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding-left: 30px;
}
.how-works__card {
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background: #f6f6f6;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
@media (min-width: 1024px) {
  .how-works__card {
    width: calc(33.3333333333% - 30px);
  }
}
.how-works__icon-number {
  position: absolute;
  left: -12px;
  background-color: #9356dc;
  color: #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-works__icon {
  color: #7e7e7e;
  padding: 0 20px;
}
.how-works__icon3 {
  color: #9356dc;
  font-size: 20px;
  padding-right: 10px;
}
.how-works__text {
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.restaurants {
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 40px;
}
.restaurants__heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.restaurants__cards {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  row-gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    padding-right: 0;
  }
}
.restaurants__card {
  position: relative;
  background-color: white;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants__card {
    width: calc(50% - 60px);
    /* border: 1px solid green;*/
  }
  .restaurants__card:hover {
    cursor: pointer;
  }
}
.restaurants__pic {
  border-radius: 20px 20px 0 0;
  /*border: 1px solid yellow;*/
  height: 160px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .restaurants__pic {
    border-radius: 20px 20px 0 0;
    /*border: 1px solid yellow;*/
    height: 210px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.restaurants__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurants__name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}
.restaurants__location {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
}
.restaurants__img_text_block {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #008766;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 40px 10px 40px;
}

.heart {
  color: black;
}
.heart__filled {
  color: #9356dc;
}

.restaurants__pic {
  height: 300px;
}

.overlapping_section {
  position: relative;
  align-items: center;
  background: #f6f6f6;
  /*border: 1px solid blue;*/
  border-radius: 40px;
  padding: 40px 20px;
  max-width: 1055px;
  margin: -50px auto 0 auto;
}
.overlapping_section__container {
  max-width: 640px;
  margin: 0 auto;
}

.first_heading {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .first_heading {
    padding: 0 150px;
  }
}
.first_heading__main_heading {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand;
  font-style: italic;
}

.dishes {
  margin-bottom: 35px;
}
.dishes__subheading {
  position: relative;
  padding-bottom: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.dishes__subheading::after {
  content: "";
  border: 1px solid #99e2d0;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.dishes__descriptions {
  /* border: 1px solid yellowgreen;*/
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.dishes__descriptions:hover .dishes__title,
.dishes__descriptions:hover .dishes__description {
  margin-right: 120px;
}
.dishes__descriptions:hover .dishes__tick-box {
  right: 0;
}
.dishes__descriptions:hover .dishes__tick {
  transform: rotate(360deg);
}
.dishes__descriptions:hover .dishes__price {
  right: 78px;
}
.dishes__title {
  font-family: Roboto;
  color: black;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 2s ease-out;
  margin-bottom: 5px;
}
.dishes__description {
  font-size: 13px;
  font-family: Roboto;
  color: black;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 2s ease-out;
}
.dishes__price {
  transition: right 2s ease-out;
  position: absolute;
  right: 0;
  bottom: 15px;
  transform: translateX(-50%);
}
.dishes__tick-box {
  background: #99e2d0;
  position: absolute;
  top: 0;
  right: -120px;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 2s ease-out;
  border-radius: 2px;
}
.dishes__tick {
  color: #fff;
  transform: rotate(0deg);
}

/************** second page ***************//*# sourceMappingURL=styles.css.map */