.footer {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  background-color: black;

  &__footer-section {
    display: flex;
    background-color: black;
    @include desktop-only {
      width: calc(100% / 5 - 5px);
    }
  }

  &__heading {
    color: white;
    font-family: Roboto;
  }
  &__logo-f {
    font-weight: 400;

    color: white;
  }
  &__logo {
    font-weight: 400;
    font-family: "Shrikhand", serif;
    color: black;
  }
}
.fa-vect {
  color: white;
  padding-right: 10px;
}
