.footer {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  background: #353535;
  padding: 30px;
  .footer__heading:hover {
    text-decoration: underline;
  }
  @include desktop-only {
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: end;
    padding: 10px 5px 20px 0;
  }

  &__footer-section {
    padding-top: 10px;
    display: flex;
    //background: #353535;

    align-items: center;

    // width: 100%;
    @include desktop-only {
      padding-top: 40px;
      &:first-child {
        order: 1;
      }
    }
  }

  &__heading {
    color: white;
    font-family: Roboto;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    font-weight: 400;
    font-family: "Shrikhand", serif;
    color: white;
    padding-right: 40px;
  }
}
.fa-vect {
  color: white;
  padding-right: 10px;
}
