//location
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding: 20px;
  box-shadow: 3px 3px 3px grey;
  gap: 17px;

  &__icon {
    //icon styles
    color: black;
    font-size: 20px;
  }

  &__text {
    // styles
    color: black;
  }
}

//book the meal you want
.book-meal {
  background: #f6f6f6;
  padding: 30px;
  text-align: center;

  &__title {
    color: black;
    font-size: 40px;
    font-family: roboto;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &__description {
    color: #353535;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    padding-bottom: 20px;
  }

  &__btn {
    color: #ffff;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: roboto;
    box-shadow: 0px 4px 10px 0px #fff;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);

    &:hover {
      cursor: pointer;
    }
  }
}

//how it works styles here
.how-works {
  padding: 30px 0 30px 0;
  &__heading {
    //heading
    font-weight: 700;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0em;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  &__second_container {
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    padding-left: 30px;
  }

  &__card {
    position: relative;
    box-shadow: 0px 4px 15px 0px #00000026;
    background: #f6f6f6;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    @include desktop-only {
      width: calc(100% / 3 - 30px);
    }
  }

  &__icon-number {
    position: absolute;
    left: -12px;
    background-color: #9356dc;
    color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: #7e7e7e;
    padding: 0 20px;
  }

  &__text {
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}

//restaurants
.restaurants {
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
  &__heading {
    //heading
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    row-gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    @include desktop-only {
      padding-right: 0;
    }
  }

  &__card {
    position: relative;
    background-color: white;
    width: 100%;
    @include desktop-only {
      width: calc(100% / 2 - 60px);
      &:hover {
        cursor: pointer;
      }

      /* border: 1px solid green;*/
    }
  }
  &__pic {
    border-radius: 20px 20px 0 0;
    /*border: 1px solid yellow;*/
    height: 210px;

    width: 100%;
    object-fit: cover;
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__name {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
  }

  &__location {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__img_text_block {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #99e2d0;
    color: #008766;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px 40px 10px 40px;
  }
}
.heart {
  color: black;
  &__filled {
    color: #9356dc;
  }
}
