.overlapping_section {
  position: relative;
  align-items: center;
  background: #f6f6f6;
  /*border: 1px solid blue;*/
  border-radius: 40px;
  padding: 50px;
  max-width: 1055px;
  margin: -50px auto 0 auto;

  &__container {
    max-width: 640px;
    margin: 0 auto;
  }
}
.first_heading {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  @include desktop-only {
    padding: 0 150px;
  }
  &__main_heading {
    font-size: 28px;
    font-weight: 400;
    font-family: Shrikhand;
    font-style: italic;
  }
  &__btn {
    color: #ffff;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: roboto;
    box-shadow: 0px 4px 10px 0px #fff;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.dishes {
  $self: &;

  &__subheading {
    position: relative;
    padding-bottom: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &::after {
      content: '';
      border: 1px solid menu-border;
      width: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__descriptions {
    &:hover {
      #{ $self }__title,
      #{ $self }__description {
        margin-right: 120px;
      }
      #{ $self }__tick-box {
        right: 0;
      }
      #{ $self }__tick {
        transform: rotate(360deg);
      }
      #{ $self }__price {
        right: 100px;
      }
    }
    /* border: 1px solid yellowgreen;*/
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
    background-color: white;
    margin: 10px 0 10px 0;
    padding: 20px;
  }

  &__title {
    font-family: Roboto;
    color: black;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 3s ease-out;
  }

  &__description {
    font-size: 13px;
    font-family: Roboto;
    color: black;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 3s ease-out;
  }
  &__price {
    transition: right 3s ease-out;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &__tick-box {
    background: #99e2d0;
    position: absolute;

    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 3s ease-out;
  }

  &__tick {
    color: #fff;
    transform: rotate(0deg);
    transition: transform 3s ease-out;
  }
}

/************** second page ***************/
