.restaurants__pic {
  height: 300px;
}
.overlapping_section {
  position: relative;
  align-items: center;
  background: #f6f6f6;
  /*border: 1px solid blue;*/
  border-radius: 40px;
  padding: 40px 20px;
  max-width: 1055px;
  margin: -50px auto 0 auto;

  &__container {
    max-width: 640px;
    margin: 0 auto;
  }
}
.first_heading {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  @include desktop-only {
    padding: 0 150px;
  }
  &__main_heading {
    font-size: 28px;
    font-weight: 400;
    font-family: Shrikhand;
    font-style: italic;
  }
}
.dishes {
  margin-bottom: 35px;
  $self: &;

  &__subheading {
    position: relative;
    padding-bottom: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &::after {
      content: "";
      border: 1px solid $menu-border;
      width: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__descriptions {
    /* border: 1px solid yellowgreen;*/
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
    background-color: white;
    margin: 10px 0 10px 0;
    padding: 15px;
    position: relative;
    overflow: hidden;

    &:hover {
      #{ $self }__title,
      #{ $self }__description {
        margin-right: 120px;
      }
      #{ $self }__tick-box {
        right: 0;
      }
      #{ $self }__tick {
        transform: rotate(360deg);
      }
      #{ $self }__price {
        right: 78px;
      }
    }
  }

  &__title {
    font-family: Roboto;
    color: black;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin $animation-dishes-speed ease-out;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 13px;
    font-family: Roboto;
    color: black;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin $animation-dishes-speed ease-out;
  }
  &__price {
    transition: right $animation-dishes-speed ease-out;
    position: absolute;
    right: 0;
    bottom: 15px;
    transform: translateX(-50%);
  }
  &__tick-box {
    background: #99e2d0;
    position: absolute;
    top: 0;
    right: -120px;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right $animation-dishes-speed ease-out;
    border-radius: 2px;
  }

  &__tick {
    color: #fff;
    transform: rotate(0deg);

    transition: transform $animation-dishes-speed ease-out;
    font-size: 22px;

    //transition: transform $animation-dishes-speed ease-out;
  }
}

/************** second page ***************/
